@charset 'utf-8';

.wrapper {padding-top: 0; max-width: unset;}
footer {margin-top: 0;}

.section {background: var(--color-bak); max-width: unset;}
.section:nth-of-type(2) {background: orange;}
.section:nth-of-type(3) {background: skyblue;}

.section:nth-of-type(1) .main-txt {
	position: absolute;
	display: flex;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-left: 23vw;
	flex-wrap: wrap;
	gap: 2em;
	white-space: nowrap;
}
.section:nth-of-type(1) .main-txt * {width: 100%; line-height: 1.2em;}
.section:nth-of-type(1) .main-txt h1 {font-size: var(--page-title-font-size);font-weight: 100;}
.section:nth-of-type(1) .main-txt h2 {font-size: var(--big-font-size); font-weight: 300;}

#ingre-wrapper {
    position: absolute;
    width: 100%;
	height: 100%;
	display: flex;
    top: 50%;
    left: -17vw;
    transform: translateY(-50%);
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
    flex-wrap: wrap;
}
#ingre-wrapper .row {display: flex;justify-content: center;gap: 1.5em;}

#ingre-wrapper .item {position: relative; width: 7vw; height: 7vw;}
#ingre-wrapper .item svg path,
#ingre-wrapper .item svg polygon,
#ingre-wrapper .item svg circle {stroke-width: .5;}
#ingre-wrapper .item svg image {width: 100%; visibility: hidden; opacity: 0; transition: .4s ease; transform-origin: center center; filter: blur(2px);}
#ingre-wrapper .item svg .stroke {animation: draw 1.5s ease forwards; stroke-dasharray: 200; stroke-dashoffset: 200;}
#ingre-wrapper .item svg .fill {animation: fade 1s 1.3s ease forwards; opacity: 0;}
#ingre-wrapper .item:hover svg image {visibility: visible; opacity: 1; filter: none;}

@keyframes draw {
    0% {stroke-dasharray: 200; stroke-dashoffset: 200;}
    100% {stroke-dashoffset: 0;}
}

@media (max-width: 750px) {
	.section:nth-of-type(1) .main-txt {transform: translateY(-50%); left: 0;}
	#ingre-wrapper {display: none;}
}