@charset 'utf-8';
.category li {cursor: pointer;}
.category .cur {font-weight: 600;}
.result {font-size: var(--big-font-size); font-weight: 200; padding-bottom: 30px;}

.list li {
    position: relative;
    padding: 40px 0 40px 13em;
    border-top: 1px solid;
}
.list li:last-of-type {border-bottom: 1px solid;}
.list li .img {position: absolute;top: 50%;left: 2em;transform: translateY(-50%);width: 8em;height: 8em;background-size: cover;background-position: center center;background-repeat: no-repeat;}
.list li h2 {font-size: var(--big-font-size); font-weight: 200;}
.list li .sub {padding: 1.2em 0;line-height: 1.5em;}
.list li .sub .ingre {display: block; width: 55%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.list li .price {font-size: var(--accent-font-size); font-weight: 200;}
.list li .add {
    position: absolute;
    display: flex;
    top: 50%;
    right: 0;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    transform: translateY(-50%);
    font-size: var(--small-font-size);
}
.list li .add svg {width: 2.5em; stroke-width: .8; margin-left: 20px;}

.search {float: right; margin-top: 50px;}

@media all and (max-width: 750px){
    .list li {padding-left: 9em;}
    .list li .img {left: 1em;}
    .list li h2 {font-size: var(--accent-font-size); font-weight: 300;}
    .list li .sub {font-size: var(--small-font-size);padding: 1em 0;}
    .list li .price {font-size: var(--font-size); font-weight: 400;}
    .list li .add svg {width: 2em; stroke-width: .97; margin-left: 0;}
}