@charset "UTF-8";

.cart-left {position: relative; width: 70%;}
.cart-left .list-container-top {display: flex; justify-content: space-between; align-items: center;}
.cart-left .list-container-top h3 {font-size: var(--big-font-size); font-weight: 200;}

.cart-left .item-list {clear: both; margin-top: 1em;}

.cart-left .item-list li {position: relative; padding-left: 10em; display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;}
.cart-left .item-list li .img {position: absolute; top: 50%; left: 2em; transform: translateY(-50%); width: 6em; height: 6em; background: #eee;}
.cart-left .item-list li .poke-info {border-left: 1px solid; padding-left: 1.5em;}
.cart-left .item-list li .poke-info fieldset.day label {font-size: var(--small-font-size);opacity: .4;cursor: pointer;padding-right: 0.5em;}
.cart-left .item-list li .poke-info fieldset.day :checked + label {opacity: 1;}
.cart-left .item-list li .poke-info .name {font-size: var(--big-font-size); font-weight: 200; padding: .4rem 0;}
.cart-left .item-list li .poke-info .ingre {font-size: var(--small-font-size);}
.cart-left .item-list li .quantity input {width: 2em; text-align: center;}
.cart-left .item-list li .btns button {padding-left: .5em;}

.cart-left .etc {margin-top: 3em;}