@charset "UTF-8";

.cart-left {position: relative; width: 70%; float: left;}
.cart-left .list-container-top {display: flex; justify-content: space-between; align-items: center;}
.cart-left .list-container-top h3 {font-size: var(--big-font-size); font-weight: 200;}

.cart-left .item-list {clear: both; margin-top: 1em;}
.cart-left .item-list ul {display: flex; flex-wrap: wrap; gap: 1em;}

.cart-left .item-list li {position: relative; padding-left: 10em; display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;}
.cart-left .item-list li .img {position: absolute; top: 50%; left: 2em; transform: translateY(-50%); width: 6em; height: 6em; background: #eee;}
.cart-left .item-list li .item-info {border-left: 1px solid; padding-left: 1.5em;}
.cart-left .item-list li .item-info fieldset.day label {font-size: var(--small-font-size);opacity: .4;cursor: pointer;padding-right: 0.5em;}
.cart-left .item-list li .item-info fieldset.day :checked + label {opacity: 1;}
.cart-left .item-list li .item-info .name {font-size: var(--big-font-size); font-weight: 200; padding: .4rem 0;}
.cart-left .item-list li .item-info .ingre {font-size: var(--small-font-size);}
.cart-left .item-list li .quantity input {width: 2em; text-align: center;}
.cart-left .item-list li .btns button {padding-left: .5em;}

.cart-left .etc {margin-top: 3em;}
.cart-left .etc .item-list li .item-info .name {padding: 2.4rem 0;}

.cart-right {position: relative; float: right; width: 23%;}
.cart-right .receipt .price {position: relative; border-bottom: 1px solid;}
.cart-right .receipt .price .price-name {font-size: var(--small-font-size);}
.cart-right .receipt .price .txt-right {padding-bottom: .5em;}
.cart-right .receipt .price .txt-right p {font-size: var(--accent-font-size);font-weight: 200;display: flex;justify-content: end;gap: 1em;}
.cart-right .receipt .price > span {position: absolute; bottom: 0; font-size: var(--accent-font-size); font-weight: 200;}
.cart-right .receipt .total {padding: 1.2em 0;}
.cart-right .receipt .total span {vertical-align: sub;}
.cart-right .receipt .total .total-price {float: right; font-size: var(--big-font-size); font-weight: 100;}

@media all and (max-width: 750px){
    .cart-left {width: 100%;}
    .cart-right {width: 100%; margin-top: 5em;}
}