@charset 'utf-8';
 
* {padding:0;margin:0;box-sizing: border-box;}
html, body {width: 100%; height: 100%;}
a {text-decoration: none; color: inherit;}
img {border: 0; max-width: 100%;}
ol, ul {list-style: none;}
fieldset {border: 0;}
input{border-radius:0;}
input, button {border: 0; background: none; color: inherit; font-family: inherit; font-size: inherit;}
input:focus, button:focus {outline: 0;}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    border-color: var(--color-default) !important;
    -webkit-text-fill-color: var(--color-default);
    box-shadow: 0 0 0px 50px var(--color-bak) inset;
}
.false input:-webkit-autofill,
.false input:-webkit-autofill:hover, 
.false input:-webkit-autofill:focus, 
.false input:-webkit-autofill:active  {
    border-color: var(--color-salmon) !important;
    -webkit-text-fill-color: var(--color-salmon);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button { -webkit-appearance: none; -moz-appearance: none; appearance: none; }

input[type="radio"],
input[type="checkbox"] {display: none;}

input::placeholder {color: inherit; opacity: .4;}
[placeholder]:focus {outline: 0;}
[placeholder]:empty::before {content: attr(placeholder); opacity: .4;}
[placeholder]:empty:focus::before {content: '';}

textarea {width: 100%; background: none; color: inherit; font-size: inherit; font-family: inherit; resize: vertical;min-height: 10em;border: 1px solid;padding: .8em;}
textarea::placeholder {color: inherit; opacity: .4;}

svg {overflow: visible; stroke-linejoin: round; stroke-linecap: round;}
::-webkit-scrollbar {display: none;}
::scrollbar {display: none;}