@charset 'utf-8';

#body {display: flex;justify-content: center;flex-wrap: wrap;align-content: center;}
.wrapper {height: unset;}

input[type="checkbox"] + label {padding-left: 40px; position: relative;}
input[type="checkbox"] + label span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    display: block;
    border: 1px solid;
    border-radius: 50%;
    z-index: 10;
}
input[type="checkbox"] + label span::before {
    content: '';
    position: absolute;
    display: block;
    top: -4px;
    left: -6px;
    width: 0;
    height: 20px;
    border-left: 1px solid;
    transform: rotate(-45deg) scaleY(0);
    transform-origin: top center;
    transition: .1s ease;
}
input[type="checkbox"] + label span::after {
    content: '';
    position: absolute;
    display: block;
    top: -25px;
    left: 8px;
    width: 0;
    height: 35px;
    border-left: 1px solid;
    transform: rotate(45deg) scaleY(0);
    transform-origin: bottom center;
    transition: .1s .1s ease;
}

input[type="checkbox"]:checked + label span::before {transform: rotate(-45deg) scaleY(1);}
input[type="checkbox"]:checked + label span::after {transform: rotate(45deg) scaleY(1);}

.join-box {
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.join-box .pn {width: 100%; margin-top: 50px; display: flex; gap: 20px;justify-content: center; gap: 20px;}

/* joinAgree */
.join-box .procedure {display: flex;width: 100%;justify-content: center;margin-bottom: 80px;gap: inherit;align-items: center;}
.join-box .procedure .item {opacity: .4;}
.join-box .procedure .item.cur {opacity: 1;}
.join-box .procedure .item span {position: relative; display: block; text-align: center;}
.join-box .procedure .item .num {
    width: 1.2em;
    height: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--big-font-size);
    font-weight: 200;
    background: var(--color-bak);
    border-radius: 50%;
    margin: 0 auto;
}
.join-box .procedure .item .num::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2em;
    top: 0;
    left: 50%;
    border-left: 1px solid var(--color-salary);
    transform: translate(-50%, -20%) rotate(45deg);
    z-index: -1;
}
.join-box .procedure .item .name {font-size: var(--small-font-size);padding-top: 20px;position: absolute;}
.join-box .procedure .arrow {
    position: relative;
    width: 1.2em;
    height: 1.2em;
    opacity: .4;
}
.join-box .procedure .arrow::before {
    content: '';
    position: absolute;
    top: -34%;
    left: 34%;
    width: 0;
    height: 100%;
    transform: rotate(-45deg);
    border-left: 1px solid;
}
.join-box .procedure .arrow::after {
    content: '';
    position: absolute;
    top: 34%;
    left: 34%;
    width: 0;
    height: 100%;
    transform: rotate(45deg);
    border-left: 1px solid;
}
.join-box .procedure .item.cur + .arrow {opacity: 1;}

@media all and (min-width: 1281px) {
	.wrapper {padding-top: 0;}
	footer {margin-top: 0;}
}