@charset 'utf-8';

#body {display: flex;justify-content: center;flex-wrap: wrap;align-content: center;}

.join-box {
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.join-box .pn {width: 100%; margin-top: 50px; display: flex; gap: 20px;justify-content: center; gap: 20px;}

/* joinAgree */
.join-box .procedure {display: flex;width: 100%;justify-content: center;margin-bottom: 80px;gap: inherit;align-items: center;}
.join-box .procedure .item {opacity: .4;}
.join-box .procedure .item.cur {opacity: 1;}
.join-box .procedure .item span {position: relative; display: block; text-align: center;}
.join-box .procedure .item .num {
    width: 1.2em;
    height: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--big-font-size);
    font-weight: 200;
    background: var(--color-bak);
    border-radius: 50%;
    margin: 0 auto;
}
.join-box .procedure .item .num::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2em;
    top: 0;
    left: 50%;
    border-left: 1px solid var(--color-salary);
    transform: translate(-50%, -20%) rotate(45deg);
    z-index: -1;
}
.join-box .procedure .item .name {font-size: var(--small-font-size);padding-top: 20px;position: absolute;}
.join-box .procedure .arrow {
    position: relative;
    width: 1.2em;
    height: 1.2em;
    opacity: .4;
}
.join-box .procedure .arrow::before {
    content: '';
    position: absolute;
    top: -34%;
    left: 34%;
    width: 0;
    height: 100%;
    transform: rotate(-45deg);
    border-left: 1px solid;
}
.join-box .procedure .arrow::after {
    content: '';
    position: absolute;
    top: 34%;
    left: 34%;
    width: 0;
    height: 100%;
    transform: rotate(45deg);
    border-left: 1px solid;
}
.join-box .procedure .item.cur + .arrow {opacity: 1;}

.join-box form {width: 100%;}
.join-box .input-item {position: relative;width: 100%; padding: 8px 0;}
.join-box .input-item.check {margin: 0;}
.join-box .input-item.point.check {text-align: left; padding: 12px 25px; border-radius: 2em; margin-bottom: 40px; cursor: default;}
.join-box .input-item.check a {position: absolute; right: 0; font-size: var(--small-font-size); border-bottom: 1px solid;}