@charset 'utf-8';

#body {display: flex;justify-content: center;align-content: center;flex-wrap: wrap;}

.login-box .input-item {
	width: 100%;
	margin-bottom: 40px;
}

.login-box .input-item input {
	font-size: 2rem;
	font-weight: 100;
	padding-left: 0 !important;
}

.login-box .input-item input+label {
	transition: .4s ease;
	font-weight: 100;
}

.login-box .input-item.empty input+label {
	font-size: 2rem;
}

.login-box .input-item input:focus+label, .login-box .input-item:not(.empty) input+label {
	top: .6rem;
	font-size: 1rem;
	font-weight: 400;
}

.login-box .input-item .indicator {
	bottom: -25px;
	left: 0;
}
.login-box {margin: 0 auto;}
.login-box .ui-btn {
	margin-bottom: 10px;
}

.login-box .login-box a:not(.ui-btn) {
	font-size: var(- -small-font-size);
	display: block;
	width: 100%;
}

:not(.login-box) form {gap: 0 !important; align-content: space-between; height: 27em;}
:not(.login-box) form > * {width: 100%;}
:not(.login-box) form legend {padding: 0;}

@media all and (min-width: 1281px) {
	#body {padding: 0;}
	footer {margin-top: 0;}
}

@media all and (max-width: 750px) {
	:not(.login-box) .form-wrapper {flex-wrap: wrap;}
	:not(.login-box) form {height: unset;}
	:not(.login-box) form fieldset {margin: 2em 0;}
}