@charset 'utf-8';

.wrapper {padding-top: 0; max-width: unset; width: 100vw; height: 100vh;background: var(--color-bak);}

footer {margin-top: 0;}

.section {background: var(--color-bak); max-width: unset;}
.section .txt-area .section-title {font-size: var(--big-font-size); font-weight: 200;width: 100%;}

.wrapper#main .main-bg {
	position: fixed;
	top: 0;
	right: 0;
}
.wrapper#main .main-bg svg {position: absolute; right: 0; width: 79vw;}
.wrapper#main .main-bg svg image {width: 100%;}
.wrapper#main .main-txt {
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	gap: 2em;
	white-space: nowrap;
	width: 0;
	top: 50%;
	transform: translateY(-50%);left: 17vw;
	z-index: 1;
}
.wrapper#main .main-txt * {line-height: 1.2em;}
.wrapper#main .main-txt h1 {font-size: 6rem;font-weight: 100;}
.wrapper#main .main-txt .sub-title {font-size: var(--accent-font-size);font-weight: 400;white-space: nowrap;width: 2em;border-top: 1px solid;padding-top: 2em;}

.wrapper#main .arrow {
	position: absolute;
	bottom: 8vh;
	left: 50%;
}
.wrapper#main .arrow::before {
	content: '';
	position: absolute;
	left: .4em;
	width: 2em;
	height: 0;
	border-top: 1px solid;
	transform: rotate(-45deg);
	transform-origin: right;
}
.wrapper#main .arrow::after {
	content: '';
	position: absolute;
	left: -.4em;
	width: 2em;
	height: 0;
	border-top: 1px solid;
	transform: rotate(45deg);
	transform-origin: left;
}

#ingre-wrapper {
    position: absolute;
    width: 70%;
    height: 100%;
    display: flex;
    top: 50%;
    transform: translateY(-50%);
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    flex-wrap: wrap;
	left: 0;
}
#ingre-wrapper .row {display: flex;justify-content: center;gap: 2em;}

#ingre-wrapper .item {position: relative;width: 6vw;height: 6vw;}
#ingre-wrapper .item svg path,
#ingre-wrapper .item svg polygon,
#ingre-wrapper .item svg circle {stroke-width: .5;}
#ingre-wrapper .item svg image {width: 100%; visibility: hidden; opacity: 0; transition: .4s ease; transform-origin: center center; filter: blur(2px);}
#ingre-wrapper .item svg .stroke {stroke-dasharray: 200; stroke-dashoffset: 200;}
#ingre-wrapper .item svg .fill {opacity: 0;}
#ingre-wrapper .item:hover svg image {visibility: visible; opacity: 1; filter: none;}

#ingre-wrapper.show .stroke {animation: draw 1.5s ease forwards;}
#ingre-wrapper.show .fill {animation: fade 1s 1.3s ease forwards;}

@keyframes draw {
    0% {stroke-dasharray: 200; stroke-dashoffset: 200;}
    100% {stroke-dashoffset: 0;}
}
.wrapper#about {
	display: flex;
    justify-content: center;
    align-items: center;
flex-wrap: wrap;position: relative;z-index: 2;}
.wrapper#about .img {width: 40%; padding-left: 8em;}
.wrapper#about h2 {font-size: var(--big-font-size); font-weight: 200; text-align: right; width: 100%;}
.wrapper#about .txt-area {width: 40%;border-right: 1px solid;display: flex;flex-wrap: wrap;gap: 4em;padding: 2em 4em 2em 0;}

.wrapper#make .section-slide {position: absolute; top: 0; left: 0; width: 400vw; height: 100vh; transition: 1.5s ease;}
.wrapper#make .section-slide .slide-item {position: relative; width: 100vw; height: 100%; float: left; border-right: 1px solid; background: var(--color-bak);}
.wrapper#make .section-slide .slide-item:first-child {z-index: 5;}
.wrapper#make .section-slide .slide-item:first-child .txt-area.section-main-txt {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-left: 21vw;
	z-index: 10;
}
.wrapper#make .section-slide .slide-item:first-child .txt-area.section-main-txt .section-title {font-size: var(--page-title-font-size); font-weight: 100; line-height: 1.2em;}
.wrapper#make .section-slide .slide-item:first-child .txt-area.section-main-txt .section-sub-title {padding: 1.5em 0;} 
.wrapper#make .section-slide .slide-item:first-child .txt-area.section-main-txt .section-txt {font-size: var(--small-font-size);}

.wrapper#make .section-slide .slide-item:first-child .txt-area.section-sub {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-left: 28vw;
	white-space: nowrap;
}
.wrapper#make .section-slide .slide-item:first-child a {position: relative; display: block; display: flex; align-content: center; margin-top: 1.5em; font-size: var(--big-font-size); font-weight: 200;}
.wrapper#make .section-slide .slide-item:first-child a::before {
	content: '';
	position: absolute;
	width: 1em;
	height: 0;
	border-top: 1px solid;
	top: .05em;
	right: 0;
	transform: rotate(45deg);
}
.wrapper#make .section-slide .slide-item:first-child a::after {
	content: '';
	position: absolute;
	width: 1em;
	height: 0;
	border-top: 1px solid;
	bottom: .05em;
	right: 0;
	transform: rotate(-45deg);
}

.wrapper#make .section-slide .slide-item:nth-child(4) .selected {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: -12vh;
    margin-left: -20vw;
}
.wrapper#make .section-slide .slide-item:nth-child(4) .selected ul {display: flex; gap: 1em;}
.wrapper#make .section-slide .slide-item:nth-child(4) .selected ul li {
    font-size: var(--big-font-size);
    font-weight: 100;
}
.wrapper#make .section-slide .slide-item:nth-child(4) .week {position: absolute; width: 30vw; top: 50%;left: 50%;transform: translate(-50%, -50%);margin-left: 19vw;}
.wrapper#make .section-slide .slide-item:nth-child(4) .week p {padding-bottom: 1em; padding-left: .4rem;}
.wrapper#make .section-slide .slide-item:nth-child(4) .week ul {display: flex; gap: 1em; flex-wrap: wrap;}
.wrapper#make .section-slide .slide-item:nth-child(4) .week ul li {
	position: relative;
    width: 100%;
    font-size: var(--big-font-size);
    font-weight: 200;
	left: 0;
	transition: .3s ease;
}
.wrapper#make .section-slide .slide-item:nth-child(4) .week ul li:hover {left: 2em;}

.wrapper#offer .txt-area:first-child {
	position: absolute;
	top: 10vw;
	left: 20vh;
}
.wrapper#offer .txt-area:last-child {
	position: absolute;
	bottom: 10vw;
	right: 20vh;
}

/* fixed element */
.wrapper#make .bowl {
	width: 50vw;
	max-width: 550px;
	height: 50vw;
	max-height: 550px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	border-radius: 50%;
	opacity: 0;
	visibility: hidden;
	transition: .3s 1s ease;
}
.wrapper#make .bowl svg {stroke-width: .2; position: absolute; bottom: 0;}

.wrapper#make .section-slide .go-next-slide {
	position: fixed;
	cursor: pointer;
	left: 47%;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 28vw;
	visibility: visible;
	opacity: 1;
	transition: .3s 1.1s ease;
	text-align: center;
	font-size: var(--small-font-size);
	opacity: 0;
	visibility: hidden;
	transition: .3s 1.2s ease;
}
.wrapper#make .section-slide .go-next-slide .arrow {
	position: relative;
	display: block;
	width: 10vw;
	min-width: 10em;
	height: 0;
	left: 0;
	border-top: 1px solid;
	text-align: center;
	
}
.wrapper#make .section-slide .go-next-slide .arrow::before {
	content: '';
	position: absolute;
	display: block;
	width: 3em;
	height: 0;
	border-top: 1px solid;
	transform: rotate(45deg);
	top: -1.15em;
	right: -.45em;
}
.wrapper#make .section-slide .go-next-slide .arrow::after {
	content: '';
	position: absolute;
	display: block;
	width: 3em;
	height: 0;
	border-top: 1px solid;
	transform: rotate(-45deg);
	top: .985em;
	right: -.5em;
}
.wrapper#make .fixed {opacity: 0; transition: .3s ease; visibility: hidden;}
.wrapper#make .fixed.show {opacity: 1; visibility: visible;}

.wrapper#make .last .bowl {animation: move .8s .6s ease forwards; margin-left: 0;}
.wrapper#make .section-slide.last .go-next-slide {visibility: hidden; opacity: 0;}

@keyframes move {
	from {margin-left: 0;}
	to {margin-left: -20vw;}
}
@keyframes rotateArrow {
	from {transform: rotate(0);}
	to {transform: rotate(540deg);}
}

.wrapper#make .slide-item .txt-area {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-left: -28vw;
}
.wrapper#make .slide-item .select {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 62vw;
	height: 62vw;
	max-width: 680px;
	max-height: 680px;
	z-index: 1;
}
.wrapper#make .slide-item .select span {
	position: absolute;
	display: block;
	bottom: -5em;
	left: 50%;
	transform: translateX(-50%);
	font-size: var(--small-font-size);
	padding-top: 2rem;
	white-space: nowrap;
}

.select-ingre .item,
.bowl .item {
    position: absolute;
    display: flex;
    width: 5em;
    height: 5em;
    border: 1px solid;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
	cursor: pointer;
}
.select-ingre .item img,
.bowl .item img {width: 70%;}

.select-ingre .item:nth-child(1) {top: 28%; left: -2%;}
.select-ingre .item:nth-child(2) {top: 5%; left: 14%;}
.select-ingre .item:nth-child(3) {top: -5%; left: 50%; transform: translateX(-50%);}
.select-ingre .item:nth-child(4) {top: 5%; right: 14%;}
.select-ingre .item:nth-child(5) {top: 28%; right: -2%;}

.bowl .item {position: absolute; transform: scale(0); animation: pop .3s ease forwards;}
.bowl .item:nth-of-type(1) {left: 28%; bottom: 10%;}
.bowl .item:nth-of-type(2) {right: 26%; bottom: 12%;}
.bowl .item:nth-of-type(3) {left: 12%; bottom: 28%;}
.bowl .item:nth-of-type(4) {left: 40%; bottom: 40%;}
.bowl .item:nth-of-type(5) {right: 15%; bottom: 30%;}

@keyframes pop {
	0% {transform: scale(0);}
	80% {transform: scale(1);}
	90% {transform: scale(.9);}
	100% {transform: scale(1);}
}

.select-day img {position: absolute; top: 50%; left: 50%; width: 70%; height: auto; transform: translate(-50%, -50%);}
.select-day text {font-size: .4em; font-weight: 100; animation: rotate 90s linear infinite; transform-origin: center;}
.select-day text tspan {cursor: pointer; transition: .2s ease;}
.select-day text tspan:hover,
.select-day text tspan.selected {fill: var(--color-salmon);}

.wrapper#offer {z-index: 3;}

@media all and (max-width: 1280px) {
	.wrapper#make .slide-item .select {max-width: 550px; max-height: 550px;}
}

@media all and (max-width: 750px) {
	.wrapper#main .main-txt h1 {font-size: 4rem;}
	.wrapper#about .txt-area {width: 70%;border: 0;border-top: 1px solid;padding-bottom: 0;padding-right: 0;}
	.wrapper#about > div {flex-direction: column-reverse;gap: 2em;}

	/* make */
	#ingre-wrapper {display: none;}

	.wrapper#make .section-slide .go-next-slide {margin: 0; top: 57.5%; transform: translateX(-50%);}
	.wrapper#make .slide-item .txt-area {margin: 0 !important;}
}