@charset 'utf-8';

.wrapper {padding-top: 0; max-width: unset;}
footer {margin-top: 0;}

.section {background: var(--color-bak); max-width: unset;}
.section .txt-area .section-title {font-size: var(--big-font-size); font-weight: 200;width: 100%;}

.section#main .main-txt {
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	gap: 2em;
	white-space: nowrap;
	width: 0;
	top: 32vh;
	left: 20vw;
}
.section#main .main-txt * {line-height: 1.2em;}
.section#main .main-txt h1 {font-size: var(--page-title-font-size);font-weight: 100;}
.section#main .main-txt .sub-title {font-size: var(--font-size);font-weight: 400;white-space: nowrap;width: 2em;border-top: 1px solid;padding-top: 2em;}
.section#main .main-txt .sub-txt {font-size: var(--small-font-size);}
.section#main .bg-slide {
    position: absolute;
    width: 50vw;
    height: 100%;
    top: 0;
    right: 0;
}
.section#main .bg-slide .bg-item {position: relative; width: 100%; height: 100%; background-repeat: no-repeat; background-size: cover;}
.section#main .bg-slide .bg-item#main {background-position: center bottom -13em;}

#ingre-wrapper {
    position: absolute;
    width: 70%;
    height: 100%;
    display: flex;
    top: 50%;
    transform: translateY(-50%);
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    flex-wrap: wrap;
left: 0;}
#ingre-wrapper .row {display: flex;justify-content: center;gap: 2em;}

#ingre-wrapper .item {position: relative;width: 6vw;height: 6vw;}
#ingre-wrapper .item svg path,
#ingre-wrapper .item svg polygon,
#ingre-wrapper .item svg circle {stroke-width: .5;}
#ingre-wrapper .item svg image {width: 100%; visibility: hidden; opacity: 0; transition: .4s ease; transform-origin: center center; filter: blur(2px);}
#ingre-wrapper .item svg .stroke {animation: draw 1.5s ease forwards; stroke-dasharray: 200; stroke-dashoffset: 200;}
#ingre-wrapper .item svg .fill {animation: fade 1s 1.3s ease forwards; opacity: 0;}
#ingre-wrapper .item:hover svg image {visibility: visible; opacity: 1; filter: none;}

@keyframes draw {
    0% {stroke-dasharray: 200; stroke-dashoffset: 200;}
    100% {stroke-dashoffset: 0;}
}

@media (max-width: 750px) {
	.section#main .main-txt {transform: translateY(-50%); left: 0;}
	#ingre-wrapper {display: none;}
}

.section#about > div {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.section#about .img {width: 40%; padding-left: 4em;}
.section#about .txt-area {width: 40%;border-right: 1px solid;display: flex;flex-wrap: wrap;gap: 4em;padding: 2em 4em 2em 0;}

.section#make .section-slide {position: absolute; top: 0; left: 0; width: 400vw; height: 100vh; transition: 1.5s ease;}
.section#make .section-slide .slide-item {position: relative; width: 100vw; height: 100%; float: left; border-right: 1px solid; background: var(--color-bak);}
.section#make .section-slide .slide-item:first-child {z-index: 1;}
.section#make .section-slide .slide-item:first-child .txt-area.section-main-txt {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-left: 21vw;
z-index: 10;}
.section#make .section-slide .slide-item:first-child .txt-area.section-main-txt .section-title {font-size: var(--page-title-font-size); font-weight: 100; line-height: 1.2em;}
.section#make .section-slide .slide-item:first-child .txt-area.section-main-txt .section-sub-title {padding: 1.5em 0;} 
.section#make .section-slide .slide-item:first-child .txt-area.section-main-txt .section-txt {font-size: var(--small-font-size);}

.section#make .section-slide .slide-item:first-child .txt-area.section-sub {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-left: 28vw;
	white-space: nowrap;
}
.section#make .section-slide .slide-item:first-child a {position: relative; display: block; display: flex; align-content: center; margin-top: 1.5em; font-size: var(--big-font-size); font-weight: 200;}
.section#make .section-slide .slide-item:first-child a::before {
	content: '';
	position: absolute;
	width: 1em;
	height: 0;
	border-top: 1px solid;
	top: .05em;
	right: 0;
	transform: rotate(45deg);
}
.section#make .section-slide .slide-item:first-child a::after {
	content: '';
	position: absolute;
	width: 1em;
	height: 0;
	border-top: 1px solid;
	bottom: .05em;
	right: 0;
	transform: rotate(-45deg);
}
.section#make .bowl {width: 50vw; max-width: 400px;height: 50vw;max-height: 400px;position: fixed;top: 50%;left: 50%;transform: translate(-50%, -50%);}
.section#make .bowl svg {stroke-width: .2; position: absolute; bottom: 0;}

.section#make .section-slide .go-next-slide {
	position: fixed;
	cursor: pointer;
	text-align: center;
	font-size: var(--small-font-size);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-left: 28vw;
}
.section#make .section-slide .go-next-slide .arrow {
	position: relative;
	display: block;
	width: 10vw;
	min-width: 10em;
	height: 0;
	top: .5em;left: 0;
	border-top: 1px solid;
	text-align: center;
	margin-bottom: 1em;
}
.section#make .section-slide .go-next-slide .arrow::before {
	content: '';
	position: absolute;
	display: block;
	width: 3em;
	height: 0;
	border-top: 1px solid;
	transform: rotate(45deg);
	top: -1.15em;
	right: -.45em;
}
.section#make .section-slide .go-next-slide .arrow::after {
	content: '';
	position: absolute;
	display: block;
	width: 3em;
	height: 0;
	border-top: 1px solid;
	transform: rotate(-45deg);
	top: .985em;
	right: -.5em;
}

.section#make .slide-item .txt-area {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-left: -28vw;
}
.section#make .slide-item .select {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 60vw;
	max-width: 500px;
	height: 60vw;
	max-height: 500px;
	z-index: 1;
}
.section#make .slide-item .select span {display: block; text-align: center; font-size: var(--small-font-size); padding-top: 2rem;}


.section#make .slide-item:nth-child(3) .select-day img {position: absolute; top: 50%; left: 50%; width: 70%; height: auto; transform: translate(-50%, -50%);}
.section#make .slide-item:nth-child(3) .select-day text {font-size: .4em; font-weight: 100; animation: rotate 90s linear infinite; transform-origin: center;}
.section#make .slide-item:nth-child(3) .select-day text tspan {cursor: pointer; transition: .2s ease;}
.section#make .slide-item:nth-child(3) .select-day text tspan:hover,
.section#make .slide-item:nth-child(3) .select-day text tspan.selected {fill: var(--color-salmon);}

@media (max-width: 750px) {
	.section#make .section-slide .go-next-slide {margin: 0; top: 57.5%; transform: translateX(-50%);}
	.section#make .slide-item .txt-area {top: 20%; margin: 0;}
}