@charset 'utf-8';

.wrapper {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
}

.making {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 6em;
    margin: auto;
    padding-top: 1.5em;
}

.making h1 {
	position: absolute;
	left: -11vw;
	bottom: 0;
	font-size: 4em;
	line-height: 1em;
	font-weight: 100;
	display: none;
}
.making .category {z-index: 1;position: absolute; top: -2em;}
.making .category li {cursor: pointer; /* font-size: var(--small-font-size); */}
.making .category li.cur {font-weight: 600;}

.slider {height: 4em;position: relative;width: 50%;max-height: 80px;}
.slider .btn.prev {position: absolute;width: 1.5em;max-width: 40px;top: .5em;left: -3em;cursor: pointer;z-index: 10;}
.slider .btn.next {position: absolute;width: 1.5em;max-width: 40px;top: .5em;right: -3em;cursor: pointer;z-index: 10;}
.slider .btn svg {stroke-width: 1.1;}
.info-box {
	position: absolute;
	top: 100%;
	left: 0%;
	width: 100%;
	font-size: .7rem;
	line-height: 1.2em;
	padding: 10px;
	border-radius: 1.2rem;
	color: var(--color-bak);
	background: var(--color-default);
	opacity: 0;
	animation: fade .3s ease forwards;
	z-index: 12;
}
.info-box .sub {font-size: .6rem;line-height: 1.2em;}
.info-box .line {
	margin: 5px 0 7px;
	position: relative;
	width: 100%;
	border-color: inherit;
	border-left: 0;
	border-top-width: 1px;
}
.info-box::before {
	content: '';
	position: absolute;
	top: -10px;
	left: 50%;
	transform: translateX(-50%);
	width: 0;
	height: 0;
	border: 5px solid var(--color-default);
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;	
}

.making .item {
	position: relative;
	display: flex;
	width: 4em;
	height: 4em;
	max-width: 80px;
	max-height: 80px;
	background: var(--color-bak);
	border: 1px solid;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	cursor: pointer;
	overflow: hidden;
}
.making .item img {position: relative;width: 70%;height: auto;}

.slider-container {position: relative; margin: 0 auto; overflow-x: clip;}
.slider-container ul {position: absolute;display: flex; flex-wrap: wrap;transition: left .6s ease;left: 0;}
.slider-container li {position: relative;}
.slider-container li .name {
	position: absolute;
	top: 100%;
	left: 0;
	display: block;
	width: 100%;
	padding-top: 5px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.slider-container .info-box {margin-top: 40px;}
#bowl .info-box {width: 150%; left: -25%;}

#bowl {position: relative;width: 70vw;max-width: 500px;z-index: 11;bottom: 0;padding-top: 29em;}
#bowl svg {position: absolute; bottom: 0;}
#bowl svg .stroke {stroke-width: .15;}
#bowl .item {position: absolute; transform: scale(0); animation: pop .3s ease forwards;}

@keyframes pop {
	0% {transform: scale(0);}
	80% {transform: scale(1);}
	90% {transform: scale(.9);}
	100% {transform: scale(1);}
}

#bowl .item:nth-of-type(2) {left: 48%; bottom: 2rem;}
#bowl .item:nth-of-type(3) {left: 30%; bottom: 3.5rem;}
#bowl .item:nth-of-type(4) {right: 25%; bottom: 4.5rem;}
#bowl .item:nth-of-type(5) {left: 40%; bottom: 7.5rem;}
#bowl .item:nth-of-type(6) {left: 15%; bottom: 7rem;}
#bowl .item:nth-of-type(7) {left: 56%; bottom: 10rem;}
#bowl .item:nth-of-type(8) {left: 27%; bottom: 10.5rem;}
#bowl .item:nth-of-type(9) {right: 13%; bottom: 8.4rem;}
#bowl .item:nth-of-type(10) {left: 9%; bottom: 12.5rem;}
#bowl .item:nth-of-type(11) {left: 40%;bottom: 14rem;}
#bowl .item:nth-of-type(12) {left: 22%; bottom: 16rem;}
#bowl .item:nth-of-type(13) {left: 60%; bottom: 16.5rem;}
#bowl .item:nth-of-type(14) {right: 12%; bottom: 14.5rem;}

#bowl .info-box {margin-top: 15px;}

.making .write-name {position: absolute;width: 300px;left: 50%;z-index: 30;transform: translateX(-50%);top: 0;}
.making .write-name::before {
    content: '\f304';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-family: 'Font Awesome Free';
}
.making .write-name input {
	width: 100%;
	font-size: var(--accent-font-size);
	font-weight: 300;
	text-align: center;
	border: 0;
}
.making .write-name input ~ .line{
	width: 100%;
	height: 0;
	border: 0;
	border-bottom: 1px solid;
}

.making .indicator {display: block;width: 100%;top: 4.5em;height: 0;text-align: center;line-height: 1.2rem;z-index: 10;background: gray;}

.making .receipt {position: absolute; right: -23em; bottom: 0;}
.making .receipt .head {position: absolute;top: calc(-1em - 15px);left: 0;width: 100%;display: flex;gap: 8px;justify-content: end;}
.making .receipt .head legend {position: absolute; left: 0;}

.making .receipt .paper {
	width: 15em;
	height: 20em;
	max-width: 300px;
	max-height: 400px;
	padding: 20px;
	border: 1px solid;
	position: relative;
}

.making .receipt .list {
	position: relative;
	height: 203px;
	max-height: 14rem;
	overflow-y: scroll;
}
.making .receipt .list::-webkit-scrollbar {width: 3px; display: block;}
.making .receipt .list::-webkit-scrollbar-thumb {border-radius: 1em;background: var(--color-default);}

.making .receipt li {
	display: flex;
	padding: 10px 0;
	justify-content: space-between;
	border-bottom: 1px solid;
}
.making .receipt li .cal {font-size: var(--small-font-size);}
.making .receipt li:last-child {border: 0;}

.making .receipt .total {position: absolute;padding-top: 19px;margin-top: -10px;width: calc(100% - 40px);left: 20px;bottom: 20px;}
.making .receipt .total p {position: relative; width: 100%; text-align: right; padding: 0;}
.making .receipt .total p#price {font-size: var(--big-font-size);font-weight: 200;}
.making .receipt .total p#cal {padding-top: .5em;}
.making .receipt button {margin-top: 15px;}

@media all and (min-width: 1281px) {
	.wrapper {padding-top: 0 !important;}
	.making .receipt {bottom: -60px;}
	.making h1 {display: block;}
	footer {margin-top: 0 !important;}
}

@media all and (max-width: 1280px){
	.making {top: 1em; gap: 4em;}
	.making #bowl {padding-top: 25em;}
	.form-wrapper {width: 100%;justify-content: space-between;}
	.making .receipt {right: 0;}
}

@media all and (max-width: 750px) {
	.making {padding-top: 3em; gap: 3em;}
	
	.slider {width: 75%;}
	
	.form-wrapper {justify-content: center;}
	
	.making #bowl {width: 65vw; padding-top: 26em;}
	.making #bowl svg path {stroke-width: .2;}
	.making #bowl .item {width: 8vw; height: 8vw;}
	
	.making .receipt {position: relative;}
}