@charset "UTF-8";

hr.line {border-color: var(--color-default) !important; border-style: solid !important;}

form fieldset {margin-bottom: 2em;}
form .form-item fieldset:last-of-type {margin: 0;}
form .select {width: 100%; float: right;margin: 1em 0;}

form .input-item .ui-btn {position: absolute; top: 12px; right: 0;}

.form-item:first-child {width: 450px;}
.form-item:last-child {width: 300px;}
@media all and (max-width: 750px){
	.form-item {width: 100% !important;}
}

fieldset.cart .theme-box {height: 15em;padding: 1.5em 1.5em 3em 1.5em;}
fieldset.cart .list {position: relative; height: 100%; overflow-y: auto;}
fieldset.cart .list::-webkit-scrollbar {width: 3px; display: block;}
fieldset.cart .list::-webkit-scrollbar-thumb {border-radius: 1em;background: var(--color-default);}
fieldset.cart ul li {display: flex; border-bottom: 1px solid;padding: 1em 0; justify-content: space-between; align-items: center;}
fieldset.cart ul li p.quantity {position: absolute; left: 50%; transform: translateX(-50%);}
fieldset.cart ul li:first-child {padding-top: 0;}
fieldset.cart ul li:last-of-type {border: 0;}

.payment .card p {font-size: var(--small-font-size);}

.input-item.check:first-of-type {margin-top: 1em;}
input[type="radio"] + label {padding-left: 40px; position: relative;}
input[type="radio"] + label span {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    display: block;
    border: 1px solid;
    border-radius: 50%;
    z-index: 10;
}
input[type="radio"] + label span::before {
    content: '';
    position: absolute;
    display: block;
    top: -4px;
    left: -6px;
    width: 0;
    height: 20px;
    border-left: 1px solid;
    transform: rotate(-45deg) scaleY(0);
    transform-origin: top center;
    transition: .1s ease;
}
input[type="radio"] + label span::after {
    content: '';
    position: absolute;
    display: block;
    top: -25px;
    left: 8px;
    width: 0;
    height: 35px;
    border-left: 1px solid;
    transform: rotate(45deg) scaleY(0);
    transform-origin: bottom center;
    transition: .1s .1s ease;
}

input[type="radio"]:checked + label span::before {transform: rotate(-45deg) scaleY(1);}
input[type="radio"]:checked + label span::after {transform: rotate(45deg) scaleY(1);}

#open-zip {
    visibility: hidden;
    border:1px solid;
    width:500px;
    height:300px;
    position:fixed;
    z-index: 99;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: .4s ease;
}
#open-zip.show {visibility: visible;opacity: 1;}
#open-zip::before {
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: block;
    background: rgba(0,0,0,.4);
    transform: translate(-50%,-50%);
    top:50%;
    left: 50%;
    backdrop-filter: blur(3px);
}

.receipt .price {border-bottom: 1px solid; padding-bottom: .5rem; margin-bottom: 1rem;}
.receipt .price > div {display: flex; justify-content: space-between; align-items: center; padding-bottom: .5rem;}
.receipt .price > div > span {font-size: var(--small-font-size);}
.receipt .price > div > p {display: flex; gap: .5em;}
.receipt .total .total-price {font-size: var(--big-font-size); float: right; font-weight: 200;}

form button.point {margin-top: 2em;}