@charset 'utf-8';

.list {width: 45vw; margin: 0 auto;}
.list a {float: right; padding-bottom: 1em;}
.list ul {display: grid;justify-content: center;grid-template-columns: 1fr 1fr 1fr;gap: 2em; clear: both;}
.list li {position: relative; border: 1px solid;}
.list li::before {
	content: '';
	display: block;
	padding-bottom: 100%;
}

#review-viewer {
	visibility: hidden;
	position: fixed;
	width: 70vw;
	height: 75vh;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 100;
	opacity: 0;
	transition: .4s .2s ease;
}
#review-viewer .close {position: absolute;right: 0;top: -1.8em;width: 3em;height: 3em;}
#review-viewer .close span {
	position: absolute;
	display: block;
	width: 100%;
	height: 0;
	border-top: 1px solid;
}
#review-viewer .close span:first-child {transform: rotate(45deg);}
#review-viewer .close span:last-child {transform: rotate(-45deg);}
#review-viewer .theme-box {position: relative; height: 100%; overflow: hidden; background: var(--color-bak);}
#review-viewer.show {visibility: visible; opacity: 1;}

#review-viewer .photo {width: 60%;height: 100%;position: absolute;top: 0;left: 0;border-right: 1px solid;}
#review-viewer .review-area {width: 40%;height: calc(100% - 60px);position: absolute;right: 0;padding: 0 30px;overflow-y: scroll;}

#review-viewer .review-area .review-header .user-info {display: flex; align-items: center; gap: 1em; padding-bottom: 1em; }
#review-viewer .review-area .review-header .user-info .pic {width: 2em; height: 2em; border-radius: 50%; border: 1px solid;}

#review-viewer .review-area .review-header .poke-info {padding: 1em 0 3em;border-top: 1px solid;}
#review-viewer .review-area .review-header .poke-info .star-ratings {direction: rtl;position: absolute;margin-top: .5em;}
#review-viewer .review-area .review-header .poke-info .star-ratings input + label {color: transparent;-webkit-text-stroke: 1px var(--color-default);font-size: var(--accent-font-size);}
#review-viewer .review-area .review-header .poke-info .star-ratings :checked ~ label {color: var(--color-default);}
#review-viewer .review-area .review-header .poke-info .poke-ingre {font-size: var(--small-font-size);}
#review-viewer .review-area .review-header .poke-info .add-btns {font-size: var(--small-font-size);position: absolute;right: 30px;margin-top: .5em;}
#review-viewer .review-area .review-content {padding-top: 1em;border-top: 1px solid;position: relative;}

@media all and (max-width: 750px) {
	.list {width: 100%;}
	#review-viewer .photo {position: absolute;width: 100%;height: 40%;border: 0;border-bottom: 1px solid;}
	#review-viewer .review-area  {width: 100%;top: calc(40% + 30px);height: calc(60% - 60px);}
}