@charset 'utf-8';

.category li {cursor: pointer;}
.category li.cur {font-weight: 600;}

.list {width: 45vw; margin: 0 auto;}
.list ul {display: grid;justify-content: center;grid-template-columns: 1fr 1fr 1fr;gap: 5vw;}
.list li {position: relative;}

.list li .img {
    width: 100%;
    border: 1px solid;
    border-radius: 50%;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.list li .img::before {
	content: '';
	display: block;
	padding-bottom: 100%;
}

.list li .content-bottom {text-align: center;padding: 1.5em 0 .5em;}
.list li .content-bottom .qua {display: flex; flex-wrap: wrap; justify-content: center; gap: 1em;}
.list li .content-bottom .qua input {width: 2em; text-align: center;}
.list li .content-bottom .qua button {cursor: pointer;}

.search {float: right; margin-top: 50px;}

#popup.desc {
	visibility: hidden;
	position: fixed;
	height: 75vh;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 100;
	opacity: 0;
}
#popup.desc .close {position: absolute;right: 0;top: -1.8em;width: 3em;height: 3em;}
#popup.desc .close span {
	position: absolute;
	display: block;
	width: 100%;
	height: 0;
	border-top: 1px solid;
}
#popup.desc .close span:first-child {transform: rotate(45deg);}
#popup.desc .close span:last-child {transform: rotate(-45deg);}
#popup.desc .theme-box {background: var(--color-bak);}

#popup.desc .theme-box {position: relative; height: 100%; overflow: hidden;}

#popup.desc .photo {width: 60%;height: 100%;position: absolute;top: 0;left: 0;border-right: 1px solid;background-repeat: no-repeat; background-position: center center; background-size: cover;}
#popup.desc .info-area {width: 40%;height: calc(100% - 60px);position: absolute;right: 0;padding: 0 30px;overflow-y: scroll;}

#popup.desc .info-area .info-header {border-bottom: 1px solid;padding-bottom: 1em;display: flex;justify-content: space-between;align-items: end;flex-wrap: wrap;gap: 3em;}
#popup.desc .info-area .info-header .name {font-size: var(--accent-font-size); font-weight: 300;}
#popup.desc .info-area .info-header .price {font-size: var(--big-font-size); font-weight: 200;}
#popup.desc .qua {display: flex;align-items: center;justify-content: space-between;width: 100%;}
#popup.desc .qua input {text-align: center; width: 2em;}

#popup.desc .desc {padding-top: 1em;}

@media all and (max-width: 750px) {
	.list {width: 100%;}
	#popup.desc .photo {width: 100%; height: 50%; border-right: 0; border-bottom: 1px solid;}
	#popup.desc .info-area {width: unset; height: calc(50% - 30px); bottom: 0;}
}