@charset 'utf-8';

.list {width: 45vw; margin: 0 auto;}
.list ul {display: grid;justify-content: center;grid-template-columns: 1fr 1fr 1fr;gap: 5vw;}
.list li {position: relative;}

.list li .img {
    width: 100%;
    border: 1px solid;
    border-radius: 50%;
}
.list li .img::before {
	content: '';
	display: block;
	padding-bottom: 100%;
}

.list li .content-bottom {text-align: center;padding: 1.5em 0 .5em;}
.list li .content-bottom form {display: flex; flex-wrap: wrap; justify-content: center; gap: 1em;}
.list li .content-bottom form input {width: 2em; text-align: center;}

.search {float: right; margin-top: 50px;}

@media all and (max-width: 750px) {
	.list {width: 100%;}
}